## Example of LangChain Like Expression Language

LangChain offers Langchain Expression Language (LCEL). The core idea is to overload the dunder method `__or__` in Python.
In this example I am creating a CSV Read and write chain with my own Expression Language (EL).

In [1]:
import pandas as pd

In [2]:
from explang.csvtask import (CSVWriteTask, CSVReadTask)
from explang.csvtask import (SCSVWriteTask, SCSVReadTask)

#### Create Synthetic Data

In [3]:
sample_file_path = "/tmp/sample.csv"
sample_data = pd.DataFrame({
            'name': ['Alice', 'Bob', 'Charlie'],
            'age': [25, 30, 35]
        })
sample_data.to_csv(sample_file_path, index=False)

#### Create a Pipeline

In [4]:
my_csv_read = CSVReadTask(sample_file_path)
my_csv_write = CSVWriteTask(sample_file_path)

my_pipeline = my_csv_read | my_csv_write

#### Run the Pipeline

In [5]:
my_pipeline.run()

      name  age
0    Alice   25
1      Bob   30
2  Charlie   35

### Chanage the Chaning Operator to `>>`

In [7]:
s_my_csv_read = SCSVReadTask(sample_file_path)
s_my_csv_write = SCSVWriteTask(sample_file_path)

s_my_pipeline = s_my_csv_read >> s_my_csv_write

In [8]:
s_my_pipeline.run()

      name  age
0    Alice   25
1      Bob   30
2  Charlie   35